<div class="h-stack"> 
    <% if (gateway) { %>
        <h3> Gateway</h3>
    <% } else { %>
        <h3> Node</h3>
    <% } %> 
    <div class="text">#<%= _id %></div>
</div>
<div class="h-stack">
    <div>
        <div class="text">Lon</div>
        <div class="text">Lat</div>
        <div class="text">Last Packet</div>
        <div class="text">Last Ping</div>
    </div>
    <div>
        <div class="text"><%= location.longitude %></div>
        <div class="text"><%= location.latitude %></div>
        <div class="text"><%= lastPacketID %></div>
        <div class="text"><%= new Date(lastPing).toDateString() %></div>
        <div class="text"><%= new Date(lastPing).toLocaleTimeString() %></div>
    </div>
</div>